<html>

<head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <!---
	<div id="a" style="position:absolute; width:650; height:680; z-index:9999; left:20%; top:120px;">
<div style=" background-color:#ccc; width:70px; font-family:Tahoma, Geneva, sans-serif; font-size:14px"><a onClick="document.getElementById('a').style.display = 'none';" style="cursor:pointer">&nbsp;[X] Close</a></div>
 <img src="http://www.bu.ac.th/occasion/prathep_2-Apr-2016/prathep.jpg" width="800" height="499" border="0" align="middle">
 </a>
 </div>
 --->
    <div style="background-color: #99e699;color:white;padding:10px;">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <tr>
                        <td>
                            <img src="https://lh3.ggpht.com/OsDaHoxLg9MXmGskclOV6V3592KiFQICLv1Cac2RwIVgrv7q9D43ajfG82HNfY_8Gyw=w300-rw" alt="FFC.com" width="125" height="111"></td>
                        </td>
                        <td>
                            <h3 style="color:#1a1aff;">FAMILY FOLDER COLLECTOR</h3>
                            <h6 style="color:#ff1ab3;"><b>FFCบริการถึงหน้าบ้าน เข้าถึงทุกครอบครัว ใส่ใจสุขภาพชุมชน</b></h6>

                        </td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
                        <center>
                            <td>
                                <nav>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="https://suppaluck.github.io/about-ffc">FFCคืออะไร</a></li>
                                        <li><a href="https://suppaluck.github.io/who-ffc">ใครใช้</a></li>
                                        <li><a href="https://suppaluck.github.io/property-ffc">คุณสมบัติ</a></li>
                                        <li><a href="https://suppaluck.github.io/FAQ-ffc">FAQ</a></li>
                                        <li><a href="https://suppaluck.github.io/download-ffc.html">ดาวน์โหลด</a></li>
                                        <li><a href="https://suppaluck.github.io/contact-ffc.html">ติดต่อ</a></li>
                                    </ul>
                                </nav>
                            </td>
                        </center>
                    </tr>
                </table>
            </div>
        </div>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        width: auto;
        margin: auto;
    }
</style>

<body>
    <header>
        <br>
        </div>
    </header>


    <main>
        <div class="container">

            {{ content }}
        </div>
    </main>

    <footer>
        <div style="background-color: #99e699;color:#000000;padding:15px;">
            <center> <a href=" #">FFCคืออะไร</a> | <a href="#">คำถามที่พบบ่อย</a> | <a href="#">ติดต่อ</a>
                <br>
                <p>จำนวนผู้เข้าชมเว็บไซต์</p>
                </br>
                <p>ที่อยู่ </p>

                <p> อาคารอุทยานวิทยาศาสตร์ ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ
                    <br>112 ถนนพหลโยธิน ตำบลคลองหนึ่ง อำเภอคลองหลวง จังหวัดปทุมธานี 12120
                    <br>โทรศัพท์ 02-564-6900 โทรสาร 02-564-6901-3 </p>
        </div>

        </center>

    </footer>
</body>

</html>
