<html>

<head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <div style="background-color:#66FF66;color:white;padding:20px;">
        <table>
            <tr>
                <td><img src="https://lh3.ggpht.com/OsDaHoxLg9MXmGskclOV6V3592KiFQICLv1Cac2RwIVgrv7q9D43ajfG82HNfY_8Gyw=w300-rw" <alt="FFC.com" width="150" height="142"></td>
                <td>
                    <h1 style="color:#6699FF;">FAMILY FOLDER <br>COLLECTOR</br></h1></td>

                <td>
                    <center>
                        <p style="color:red;"><b>FFCบริการถึงหน้าบ้าน <span style="color:blue">เข้าถึงทุกครอบครัว</span> <span style="color:green">ดูแลสุขภาพในชุมชน</span></b></p>
                </td>
                </center>
            </tr>
        </table>
    </div>
</head>

<body>
    <header>
        <div style="background-color:#66FF66;color:white;padding:20px;">
            <center>
                <table>
                    <tr>
                        <td>

                            <nav>
                                <p align="center">
                                    &nbsp; <a href="https://suppaluck.github.io/about-ffc">FFCคืออะไร</a> &nbsp; <a href="https://suppaluck.github.io/who-ffc">ใครใช้</a> &nbsp; <a href="https://suppaluck.github.io/property-ffc">คุณสมบัติ</a> &nbsp;
                                    <a href="https://suppaluck.github.io/FAQ-ffc">FAQ </a> &nbsp;
                                    <a href="#">ดาวน์โหลด</a> &nbsp; <a href="#">ติดต่อ</a>
                                </p>
                            </nav>
                        </td>
                    </tr>
                </table>
            </center>
        </div>
        <style="background-color:powderblue;">

            </style>
    </header>

    <main>
        {{ content }}
    </main>
    <hr>

    <footer>
        <center> <a href=" #">FFCคืออะไร</a> | <a href="#">คำถามที่พบบ่อย</a> | <a href="#">ติดต่อ</a>
            <br>
            <p>จำนวนผู้เข้าชมเว็บไซpต์</p>
            </br>
            <p>ที่อยู่ </p>

            <p> อาคารศูนย์เทคโนโลยีรอิเล็กทรอนิกส์ (TMEC) </p>
        </center>

    </footer>
</body>

</html>
