<html>

<head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <!---
	<div id="a" style="position:absolute; width:650; height:680; z-index:9999; left:20%; top:120px;">
<div style=" background-color:#ccc; width:70px; font-family:Tahoma, Geneva, sans-serif; font-size:14px"><a onClick="document.getElementById('a').style.display = 'none';" style="cursor:pointer">&nbsp;[X] Close</a></div>
 <img src="http://www.bu.ac.th/occasion/prathep_2-Apr-2016/prathep.jpg" width="800" height="499" border="0" align="middle">
 </a>
 </div>
 --->
    <div style="background-color:white;color:white;">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#owl-demo-1 .item img {
    display: block;
    width: 100%;
    height: auto;
}

.item .img-responsive {
    cursor: url(../img/cross.png),auto;
}
.img-rounded {
    border-radius: 6px;
}
</style>
<body>
    <header>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Family Folder Collector
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav text-center">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#survey">FFCคืออะไร</a></li>
          <li><a href="#report">ใครใช้</a></li>
          <li><a href="#showe">คุณสมบัติ</a></li>
          <li><a href="https://suppaluck.github.io/FAQ-ffc">FAQ </a></li>
          <li><a href="https://suppaluck.github.io/download-ffc.html">ดาวน์โหลด</a></li>
          <li><a href="https://suppaluck.github.io/contact-ffc.html">ติดต่อ</a></li>
        </ul>
      </div>
    </div>

    </nav>
        </div>
    </header>

    <main>
      <div style="background-color:#d9ffb3; color:#000000;padding:15px;">
        <div class="container">

            {{ content }}
        </div>
      </div>
    </main>

    <footer>

        <div style="background-color:#000000;; color:white;padding:15px;">
            <center> <a href=" #">FFCคืออะไร</a> | <a href="#">คำถามที่พบบ่อย</a> | <a href="#">ติดต่อ</a>
                <br>
                <p>จำนวนผู้เข้าชมเว็บไซต์</p>
                </br>
                <p>ที่อยู่ </p>

                <p> อาคารอุทยานวิทยาศาสตร์ ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ
                    <br>112 ถนนพหลโยธิน ตำบลคลองหนึ่ง อำเภอคลองหลวง จังหวัดปทุมธานี 12120
                    <br>โทรศัพท์ 02-564-6900 โทรสาร 02-564-6901-3 </p>
        </div>

        </center>

    </footer>
</body>

</html>
